<!-- PROJECT CARD START -->
<tr>
    <td style="border-top: 20px solid #ffffff;  background-color: #f3f3f3; border-top: 3px solid #EA1D24; padding: 0; border-spacing: 0;border-bottom: 25px solid white;">
      <table style="border-spacing: 0; width: 100%;">
        <tbody>
          <tr>
            <td valign="center" style="padding: 10px;background-color: #e0e0e0">
              <table style="border-spacing: 0">
                <tbody>
                  <tr>
                      <td align="left" valign="center" style="font-family: sans-serif; font-size: 24px; vertical-align: center; padding: 0; ">Project Name</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td align="left" valign="center" style="font-family: sans-serif; font-size: 16px; vertical-align: center; padding:10px; ">
              <table style="width: auto">
                <tbody>
                  <tr>
                    <td align="left" valign="center" style="font-family: sans-serif; font-size: 16px; vertical-align: center; padding-right: 50px; width: auto; font-weight: bold">Project Type</td>
                    <td align="left" valign="center" style="font-family: sans-serif; font-size: 16px; vertical-align: center; width: auto; font-weight: bold">Project Status</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td align="left" valign="center" style="font-family: sans-serif; font-size: 14px; vertical-align: center; padding-bottom: 10px;">
              <table>
                <tbody>
                  <tr>
                    <td align="left" valign="center" style="font-family: sans-serif; font-size: 16px; vertical-align: center; padding: 10px; padding-bottom: 0px;">
                      <p style="margin: 0">Project Description sldfj slkj sdflkj sdflkjsd ljsgd lsdkjl sdk ls kd jlkjl. Fr skjlskdjf sdlfl kj sldfklj lsdfkj lskjdf jlkj sdf lkjsdf kjj dk jkjslj flkjsl kjsdfl jk lkj lksdf lkjlk jlkj sdflkj lkjlkj sdf.</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td align="left" valign="center" style="font-family: sans-serif; font-size: 16px; vertical-align: center; padding: 10px; ">
              <table style="width: 100%; border-spacing: 0px">
          
                <tbody>
                  <tr>
                    <th style="padding: 0; width: 70px; border-right: 2px solid silver; padding-right: 10px;">Owner</th>
                    <th align="left" style="padding-left: 20px; padding-right: 10px">Team</th>
                  </tr>
                  <tr>
                    <td align="center" valign="center" style="font-family: sans-serif; font-size: 14px; vertical-align: center; padding: 10px; border-right: 2px solid silver">
                      <img src="https://cdn.iconscout.com/public/images/icon/free/png-512/avatar-user-business-man-399587fe24739d5a-512x512.png" alt="Team member avatar" width="" height="" border="0" style="border:0; outline:none; text-decoration:none; display:block; width: 40px;max-width: 40px">
                    </td>
                    <td align="left" valign="center" style="font-family: sans-serif; font-size: 14px; vertical-align: center; padding-left: 20px;">
                      <table>
                        <tbody>
                          <tr>
                            <td align="left" valign="center" style="vertical-align: center;">
                              <img src="https://cdn.iconscout.com/public/images/icon/free/png-512/avatar-user-teacher-312a499a08079a12-512x512.png" alt="Team member avatar" width="" height="" border="0" style="border:0; outline:none; text-decoration:none; display:block; width: 40px;max-width: 40px">
                            </td>
                            <td align="left" valign="center" style="vertical-align: center;">
                              <img src="https://cdn.iconscout.com/public/images/icon/free/png-512/avatar-user-business-man-399587fe24739d5a-512x512.png" alt="Team member avatar" width="" height="" border="0" style="border:0; outline:none; text-decoration:none; display:block; width: 40px;max-width: 40px">
                            </td>
                            <td align="left" valign="center" style="vertical-align: center;">
                              <img src="https://cdn.iconscout.com/public/images/icon/free/png-512/avatar-user-teacher-312a499a08079a12-512x512.png" alt="Team member avatar" width="" height="" border="0" style="border:0; outline:none; text-decoration:none; display:block; width: 40px;max-width: 40px">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

        </tbody>
      </table>
    </td>
  </tr>
  <!-- PROJECT CARD END -->


  <!-- PROJECT CARD START -->
  <tr>
    <td style="border-top: 20px solid #ffffff;  background-color: #f3f3f3; border-top: 3px solid #EA1D24; padding: 0; border-spacing: 0; border-bottom: 25px solid white;">
      <table style="border-spacing: 0">
        <tbody>
          <tr>
            <td valign="center" style="padding: 10px;background-color: #e0e0e0">
              <table style="border-spacing: 0">
                <tbody>
                  <tr>
                      <td align="left" valign="center" style="font-family: sans-serif; font-size: 24px; vertical-align: center; padding: 0; ">Project Name</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td align="left" valign="center" style="font-family: sans-serif; font-size: 16px; vertical-align: center; padding:10px; ">
              <table style="width: auto">
                <tbody>
                  <tr>
                    <td align="left" valign="center" style="font-family: sans-serif; font-size: 16px; vertical-align: center; padding-right: 50px; width: auto; font-weight: bold">Project Type</td>
                    <td align="left" valign="center" style="font-family: sans-serif; font-size: 16px; vertical-align: center; width: auto; font-weight: bold">Project Status</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td align="left" valign="center" style="font-family: sans-serif; font-size: 14px; vertical-align: center; padding-bottom: 10px;">
              <table>
                <tbody>
                  <tr>
                    <td align="left" valign="center" style="font-family: sans-serif; font-size: 16px; vertical-align: center; padding: 10px; padding-bottom: 0px;">
                      <p style="margin: 0">Project Description sldfj slkj sdflkj sdflkjsd ljsgd lsdkjl sdk ls kd jlkjl. Fr skjlskdjf sdlfl kj sldfklj lsdfkj lskjdf jlkj sdf lkjsdf kjj dk jkjslj flkjsl kjsdfl jk lkj lksdf lkjlk jlkj sdflkj lkjlkj sdf.</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td align="left" valign="center" style="font-family: sans-serif; font-size: 16px; vertical-align: center; padding: 10px;">
              <table style="width: 100%">
          
                <tbody>
                  <tr>
                    <th style="padding: 0; background-color: silver; width: 70px;">Owner</th>
                    <th align="left" style="padding-left: 10px; background-color: silver">Team</th>
                  </tr>
                  <tr>
                    <td align="center" valign="center" style="font-family: sans-serif; font-size: 14px; vertical-align: center; padding: 10px; background-color: #fefefe">
                      <img src="https://cdn.iconscout.com/public/images/icon/free/png-512/avatar-user-business-man-399587fe24739d5a-512x512.png" alt="Team member avatar" width="" height="" border="0" style="border:0; outline:none; text-decoration:none; display:block; width: 40px;max-width: 40px">
                    </td>
                    <td align="left" valign="center" style="font-family: sans-serif; font-size: 14px; vertical-align: center; padding: 10px; background-color: #fefefe;">
                      <table>
                        <tbody>
                          <tr>
                            <td align="left" valign="center" style="vertical-align: center;">
                              <img src="https://cdn.iconscout.com/public/images/icon/free/png-512/avatar-user-teacher-312a499a08079a12-512x512.png" alt="Team member avatar" width="" height="" border="0" style="border:0; outline:none; text-decoration:none; display:block; width: 40px;max-width: 40px">
                            </td>
                            <td align="left" valign="center" style="vertical-align: center;">
                              <img src="https://cdn.iconscout.com/public/images/icon/free/png-512/avatar-user-business-man-399587fe24739d5a-512x512.png" alt="Team member avatar" width="" height="" border="0" style="border:0; outline:none; text-decoration:none; display:block; width: 40px;max-width: 40px">
                            </td>
                            <td align="left" valign="center" style="vertical-align: center;">
                              <img src="https://cdn.iconscout.com/public/images/icon/free/png-512/avatar-user-teacher-312a499a08079a12-512x512.png" alt="Team member avatar" width="" height="" border="0" style="border:0; outline:none; text-decoration:none; display:block; width: 40px;max-width: 40px">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

        </tbody>
      </table>
    </td>
  </tr>
  <!-- PROJECT CARD END -->